.container-main {
    height: 600px;
    margin-bottom: 20px;
}

.container-main p{
    width: 500px;
    text-align: justify;
}

.container-main h3{
    color: #0AA6A6;
    padding-bottom: 10px;
}

.container-main h1{
   color: #0AA6A6;
}