.container{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.container-main{
    margin: 20px 20px;
    width: 200px;
    height: 150px;
    text-align: center;
    color: #35384B;
}

.container-main > .circulo{
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: #35384B;
    border-radius: 50%;
    margin: 20px auto;
}

.container-main > h2{
    margin-top: -10px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.container-main:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.3s;
}